```scss id="jlwm5f"
body{
    font-family: $font-primary;
    background: $bg-color;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header{
    background: $primary-color;
    color: $white;
    padding: $spacing-md;

    @include flex-center;

    h1{
        font-size: 28px;
    }
}

/* PRODUCT GRID */
.product-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
    padding: $spacing-lg;

    @include respond-to(tablet){
        grid-template-columns: repeat(2,1fr);
    }

    @include respond-to(desktop){
        grid-template-columns: repeat(4,1fr);
    }
}

/* CARD */
.card{
    background: $white;
    border-radius: 10px;
    overflow: hidden;

    @include card-shadow;

    transition: all 0.3s ease;

    .card-image{

        overflow: hidden;

        img{
            width: 100%;
            transition: transform 0.3s ease;
        }
    }

    .card-title{
        font-size: 20px;
        color: $primary-color;
        padding: $spacing-md;
    }

    .card-price{
        color: crimson;
        padding: 0 $spacing-md;
    }

    button{
        background: $secondary-color;
        color: $white;
        border: none;
        padding: $spacing-sm $spacing-md;
        margin: $spacing-md;
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-8px);

        .card-image img{
            transform: scale(1.1);
        }
    }

    &.featured{
        border: 3px solid gold;
    }
}
```
