```css
header{
    display: flex;
    padding:10px 32px;
    justify-content:space-between;
    background-color:black;
    color:aliceblue;
    align-items: center;
    border-radius:10px;
}

ul{
    display:flex;
    list-style:none;
    gap:10px;
}

a{
    color:aliceblue;
    text-decoration: none;
}

.left{
    display:flex;
    align-items: center;
    gap:10px;
}

.search{
    border-radius:10px;
    display: flex;
    align-items: center;
    gap:10px;
}

input{
    height: 25px;
}

/* ===== CONTENT ===== */

.container{
    width:90%;
    margin:30px auto;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.top button{
    background:#4f7cff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}

/* ===== TABLE ===== */

table{
    width:100%;
    border-collapse: collapse;
    background:white;
}

th{
    background:#f1f1f1;
    padding:15px;
    text-align:left;
}

td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

.edit{
    background:gold;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

/* ===== POPUP ===== */

.popup{
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.5);

    position:fixed;
    top:0;
    left:0;

    display:none;
    justify-content:center;
    align-items:center;
}

.popup-content{
    width:350px;
    background:white;
    padding:20px;
    border-radius:10px;

    display:flex;
    flex-direction:column;
    gap:10px;
}

.popup-content input{
    padding:10px;
}

.save{
    background:#4f7cff;
    color:white;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}

.close{
    background:gray;
    color:white;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}
```
