header{
    display: flex;
    padding:10px 32px;
    justify-content:space-between;
    background-color:black;
    color:aliceblue;
    align-items: center;
    border-radius:10px;
}
ul{
    display:flex;
   list-style:none;
   gap:20px;
}
a{
    color:aliceblue;
    text-decoration: none;
}
.left{
    display:flex;
    align-items: center;
    gap:10px;
}
.search{
    border-radius:10px;
    display: flex;
    align-items: center;
    gap:10px;
}
input{
    height: 25px;
}
